/* New Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Global styles */
html, body {
    background: rgb(22, 22, 22);
    font-family: 'Rubik', sans-serif;
    color: rgb(218, 218, 218);
    margin: 0;
    padding: 0;
    height: 100%;
}

.homepage {
    height: 100%;
}

.inner-homepage {
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    margin-left: 15%;
    margin-right: 15%;
}

.outer-nav-container {
    width: 100vw;
    height: 15%;
    background: linear-gradient(rgb(24, 24, 24), rgb(0, 0, 0));
    border-bottom: 2px solid rgb(36, 36, 36);
    box-shadow: 0 1px 1px -1px rgb(86, 86, 86);
}

.inner-nav-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    margin-top: 0 auto;
    margin-bottom: 0 auto;
    margin-left: 15%;
    margin-right: 15%;

    height: 100%;
}

.nav-item{
    display: flex;
    align-items: center;
    height: 45%;
    background-color: rgb(57, 57, 57);
    border-radius: 5px;

    font-weight: 700;
    font-style: normal;
    font-size: large;
    color: rgb(255, 255, 255);

    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 20px;

    transition: transform 0.2s, background-color 0.1s, color 0.1s; 
}

.nav-item:hover{
    background-color: rgb(43, 43, 43);
    color: rgb(234, 232, 232);
    transform: scale(1.1);
    cursor:pointer;
}

.nav-item:active{
    background-color: rgb(6, 6, 6);
    transform: scale(1.05);
}

.nav-item > a {
    font-family: 'Rubik', sans-serif;
    color: rgb(218, 218, 218);
    text-decoration: none;
}
.nav-item:active > a {
    color: rgb(177, 177, 177);
}

/* Animations */
@keyframes fadeIn {
    /* 0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;} */
    
    0% { 
        opacity: 0; 
        top: 200px;
    }
    100% { 
        opacity: 1; 
        top: 0px;
    }
}

.fade-title {
    position: relative;
    animation: fadeIn 3.5s;
}

.fade-subtitle {
    position: relative;
    animation: fadeIn 5s;
}