@tailwind base;
@tailwind components;
@tailwind utilities;

/* New Fonts */
@font-face {
    font-family: 'Fixedsys Excelsior';
    src: url('/fonts/FSEX302.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

/* Terminal styles */
.terminal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 640px;
    height: 100%;
    flex-direction: column;
  }
  
  .terminal> html, body {
    color: #00ff00;
    font-family: 'Fixedsys Excelsior', monospace;
    margin: 0;
    padding: 0;
    height: 100%;
    background: radial-gradient(circle, rgb(4, 16, 18), #000);
  }
  
  .terminal-content {
    padding: 0px 10px 20px;
    border-radius: 40px;
    box-shadow: 0 0 50px 50px #000;
    background: #000;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  }
  
  /* Terminal Flicker Effect */
  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 78%, 82%, 100% {
      text-shadow: 0 0 4px #00ff00, 0 0 11px #00ff00, 0 0 19px #00ff00, 0 0 40px #00ff00;
      opacity: 1;
    }
  
    20%, 24%, 55%, 80% {
      text-shadow: none;
      opacity: 0.5;
    }
  }
  
  .terminal-content {
    animation: flicker 0.15s infinite alternate;
  }