/* New Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Global styles */
html, body {
    background: rgb(22, 22, 22);
    font-family: 'Rubik', sans-serif;
    color: rgb(218, 218, 218);
    margin: 0;
    padding: 0;
    height: 100%;
}

.homepage {
    height: 100%;
}

.main-nav-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 15%;
    background: rgb(15, 15, 15);
    box-shadow: 10 10 3 40 white;
    border-color: white;
    border-bottom: 1px;

}