@tailwind base;
@tailwind components;
@tailwind utilities;

/* New Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Global styles */
html, body {
    background: rgb(22, 22, 22);
    font-family: 'Rubik', sans-serif;
    color: rgb(218, 218, 218);
    margin: 0;
    padding: 0;
    height: 100%;
}

.homepage {
    height: 100%;
}

.outer-nav-container {
    width: 100vw;
    height: 15%;
    background: rgb(15, 15, 15);
    border-bottom: 2px solid rgb(36, 36, 36);
    box-shadow: 0 1px 1px -1px rgb(86, 86, 86);
}

.inner-nav-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin-top: 0 auto;
    margin-bottom: 0 auto;
    margin-left: 5%;
    margin-right: 5%;

    height: 100%;
}